.tag-checked {
    border: 1px solid red;
    background: white;
    min-height: 40px;
    padding: 4px;
}

.tag-all {
    border: 1px solid red;
    margin-top: 8px;
    background: white;
    min-height: 40px;
    padding: 4px;
}

.btn-active {
    background: grey;
}